*{
    margin: 0;
    padding: 0;
}

.main{
    width:100%;
    background: linear-gradient(to top, []rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin:auto;
}

.icon{
    width  : 200px;
    float  : left;
    height : 70px;

}


.logo{
    color: rgb(5, 171, 241);
    font-family: Arial;
    font-size: 35px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(5, 171, 241);
}


.search{
    width:330px;
    float:left;
    margin-left:270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid;
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 16px;
    float:left;
    padding: 10px;
    border-bottom-left-radius:5px ;
    border-top-left-radius: 5px;

}


.btn{
    width: 100px;
    height: 40px;
    background: rgb(5, 171, 241);
    border: 2px solid;
    margin-top: 13px;
    color:black;    
    font-size: 15px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline:none;
}
.srch:focus{
    outline:none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:black;
    position:relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background:  rgb(5, 171, 241);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .3s ease;
} 

.cn:hover{
    background-color: rgb(4, 4, 4);
}

.content span{
    color:  rgb(5, 171, 241);
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgb(255, 255, 255)50%,rgb(255, 253, 253)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color:rgb(5, 171, 241) ;
    font-size: 22px;
    background-color: white;
    margin: 2px;
    border-radius: 10px;
    padding: 2px;
}

.form input{
    width: 240px;
    height: 35px;
    border-bottom: 1px solid rgb(5, 171, 241);
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(5, 3, 3);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px ; 
    font-family: sans-serif;
    background-color:rgb(208, 224, 231) ;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
    
}

.btn-login{
    width: 240px;
    height: 40px;
    background: rgb(5, 171, 241);
    border: none;
    margin: 25px;
    margin-left: auto;
    font: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.btn-login:hover{
    background:rgb(6, 5, 5);
    transition: .4s ease;
}

.btn-login a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: rgb(5, 171, 241);
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(14, 8, 8);
}

.icon a{
    text-decoration: none;
    color: white;
}

.icon ion-icon{
    color: rgb(5, 171, 241);
    font-size: 26px;
    padding-left: 10px;
    padding-top: 3px;

}


.icon ion-icon:hover{
    color: black;
}